<div class="card bg-body rounded">
    
    <div class="card-heading">
        <div class="row p-0">
            <div class="col-3 p-0 iconUser " >
                <span ><img class="me-2 h-20px fa-fw" src="https://social.webestica.com/assets/images/icon/person-outline-filled.svg" alt="" style="width:50% ;margin-block-end: 40px;">
                </span>

            </div>
            <div class="col-6">
                {{Name}} 
                <div class="date">
                    <span style="padding-left: 1px; font-size: 14px;">{{data.Date}}</span>
                </div>
                <div class="car">
                    <span style="font: 14px;  margin-left: 10%;">{{data.Vehicle}}</span>
                </div>
            </div>
            
            
            
            
        </div>
        
  </div>
    <div class="card-description">
        {{data.Model}}
    </div>
    <div class="card-body">
        {{data.ProblemDescription}}
    </div>
</div>
