<h1 mat-dialog-title>Hi {{Name}}</h1>
<div class="row">
  <div class="col-6">
    <div mat-dialog-content>
      <p>vehicle</p>
      <mat-form-field appearance="fill">
        <mat-label>vehicle</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col-6">
    <div mat-dialog-content>
      <p>Model</p>
      <mat-form-field appearance="fill">
        <mat-label>vehicle Model</mat-label>




        <mat-select [(ngModel)]="select" name="Model">
          <mat-option *ngFor="let Model of Models" [value]="Model.value">
            {{Model.viewValue}}

          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div mat-dialog-content>
      <p>Problem</p>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="data.description">
      </mat-form-field>
    </div>
  </div>
  <div class="col-6" style="display: flex; align-items: center;">
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Post</button>
      <button mat-button (click)="onClose()">Close</button>
    </div>
  </div>
</div>